* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #00ff44;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1 {
    font-size: 3em;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.container-pdf {
    display: flex;
    width: 100vw; /* Largeur totale de la fenêtre */
    height: 100vh; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    overflow: hidden;
}

a {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffcc00;
}

a:hover {
    color: #ffcc00;
}

main {
    padding-top: 0px; /* Espace pour le menu fixe */
}

.box_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.home-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e6e6e6;
    padding: 20px;
    position: relative;
}

/* Styles pour masquer les sections en dehors de la vue */
.hidden-section {
    height: 100vh;
    padding: 40px;
    background-color: #ffffff;
    text-align: center;

    /* Décalage initial pour créer un effet de mouvement */
    opacity: 0; /* Rendre le contenu invisible */
    transform: translateY(100px); /* Décale chaque section de 100px vers le bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Animation pour l'apparition */
}

.hidden-section.visible {
    opacity: 1; /* Rendre le contenu visible */
    transform: translateY(0); /* Ramener la section à sa position initiale */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Espace entre les boxes */
    padding-top: 2%;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p2 {
    text-align: left;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    background-color: #333;
}